* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Jost", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
}

body {
  line-height: 1.6;
  font-weight: 400;
  color: #333;
}

.app {
  margin: auto;
  font-family: "Jost", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

button,
input,
textarea,
select {
  font-family: "Jost", sans-serif;
}

.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}

.font-italic {
  font-style: italic;
}
